In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randn(5,3), index=list(range(1,6)),columns=list("ABC"))
df

          A         B         C
1 -0.233462 -0.082451 -2.188036
2  1.141041 -0.896052 -0.725503
3 -0.608848 -0.889068 -1.440449
4 -1.714343 -0.872180 -1.681311
5  0.264761  0.364155 -1.967244

In [5]:
df.B>0

1    False
2    False
3    False
4    False
5     True
Name: B, dtype: bool

In [8]:
df[df.B>0]["C"]=0

/Users/jessica/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df.loc[2:3, "B":"C"]

          B         C
2 -0.896052 -0.725503
3 -0.889068 -1.440449

In [11]:
df.loc[2,"B"]

-0.8960520682181249

In [14]:
df.loc[2,"B"]=1
#modify data

In [15]:
df

          A         B         C
1 -0.233462 -0.082451 -2.188036
2  1.141041  1.000000 -0.725503
3 -0.608848 -0.889068 -1.440449
4 -1.714343 -0.872180 -1.681311
5  0.264761  0.364155 -1.967244

In [16]:
df.loc[df.B>0, "C"]=0
#for all B>0, C=0

In [17]:
df

          A         B         C
1 -0.233462 -0.082451 -2.188036
2  1.141041  1.000000  0.000000
3 -0.608848 -0.889068 -1.440449
4 -1.714343 -0.872180 -1.681311
5  0.264761  0.364155  0.000000